---
import { fetchPostBySlug } from '../lib/services/postServices';
const post = await fetchPostBySlug('looks-com-tenis-samba');
if (!post) {
	throw new Error('Post not found');
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<main class="container">
			<h1>{post.title.text}</h1>
			<div class="content" set:html={post.content.html} />
		</main>
	</body>
</html>
